/*
Author: Jennifer Udensi
Theme: Restaurant Food Order;
version: 1.0;
*/

/* css for all*/

*{
    
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float:none;
}

a{
    color: #ff7979;
    text-decoration: none;
}

a:hover{
    color: #eb4d4b;
}

.btn{
    padding: 1%;
    
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #ff7979;
    color: white;
    cursor: pointer;

}

.btn-primary:hover{
    background-color: #eb4d4b;
    color: white;
}

h2{
    color: black;
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.float-container{
    position: relative;
}
.float-container .float-text{
    position: absolute;
    bottom: -10%;
    left: 35%;
    font-size: 1.5rem;
    margin-bottom: -40px;
}

/* css for navbar section */

.logo{
    
    width: 10%;

    float: left;
}
.logo .img-responsive{
    height: 80px;
    width: 150px;
    position: relative;
    bottom: 5px;
    right: 50px;
}
.menu{
    line-height: 80px;
}

.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* css for food search section */
.food-search{
    background-image: url(../images/bg.jpg);
    padding: 7% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}



/*css for categories*/
.categories{
    padding: 4% 0;

    
}

.box-3{
    
    width: 28%;
    float: left;
    margin: 2%;
}
/* css for food menu */

.food-menu{
    background-color: #ececec;
    padding: 4%;
}
.food-menu-box{
    
    width: 43%;
    margin:1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

/* css for social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}


.about {
    background-color: rgb(246, 250, 252);
    
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 380px;
    width: 350px;
    border-radius: 6px;
     object-fit: cover;
     margin-left: 80px;
}

.about .about-content .right .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
    margin-right: 20px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    margin-right: 40px;
}

@media only screen and (max-width: 350px) {
    
    h2{
        margin-top: 60px;
        font-size: 1.5rem;
        color: black;
    }
    .float-container .float-text{
        font-size: 15px;
        bottom: 8px;
    }
    .container{
        width: 100%;
    }

    .logo .img-responsive{
        height: 62px;
        width: 90px;
        position: relative;
        bottom: 5px;
        right: 2px;
    }
    .navbar{
        height: 60px;
    }
    .float-container .img-responsive{
        height: 150px;
        width: 100px;
        border-radius: 10px;
    }
    
    .about .about-content{
       display: inline;
        text-align: center;
        justify-content: space-between;
    }
    .about .about-content .left img{
        text-align: center;
        height: 250px;
        width: 250px;
        border-radius: 6px;
        position: relative;
        left: auto;
        right: auto;
    }

    .about .about-content .right .text{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: black;
        text-align: center;
        margin-right: 0px;
        margin-top: 15px;
        position: relative;
        left: 80px;
    }

    .about .about-content .right p{
     
        font-size: 15px;
        color: black;
        margin-bottom: 15px;
        margin-right: 0px;
        position: relative;
        left: 80px;
    }
   
   .social,
   .footer{
       position: relative;
       top: 40px;
   }
   .food-menu-box{
    height:auto;
    width: 43%;
    margin:1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail{
    font-size: 12px;
    color: #747d8c;
}

}

@media only screen and (min-width: 380px) {
    .container{
        width: 100%;
    }

    h2{
        color: black;
        font-size: 1.8rem;
        margin-bottom: 2%;
    }

    .float-container .float-text{
        font-size: 15px;
    }

    .social,
   .footer{
       position: relative;
       top: 100px;
   }

   .float-container{
       padding-top: 30px;
   }
}

.logo .img-responsive{
    height: 72px;
    width: 110px;
    position: relative;
    top: 8px;
    left: 35px;
}

.about {
    background-color: rgb(246, 250, 252);
    
}
.about .about-content{
    display: inline;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 25%;

}
.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 320px;
    width: 280px;
    border-radius: 6px;
     object-fit: cover;
     margin: 0;
     align-self: center;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 18px;
    color: black;
    margin: 0;
}